#mars-news{
  margin-bottom: 20px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.mars-weather {
  size: 10px;
  overflow-wrap: break-word;
}
.weather-container {
  border: 1px solid grey; 
}

.images{
  text-align: center;
  padding-top: 40px;
  border-bottom: 2px solid grey;
  opacity: 50%;
}

.image{
  border: 1px solid grey;
  opacity: 70%;
  
  display: inline-block;
}
.image-title{
  font-weight: bold;
}

.mars-hemisphere{
  max-width: 80% !important;
}

